<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alpha.springmybatis.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.alpha.springmybatis.model.Person">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="userName" jdbcType="VARCHAR" property="userName" />
        <result column="age" jdbcType="INTEGER" property="age" />
    </resultMap>

    <select id="Sel" resultType="com.alpha.springmybatis.model.Person">
        select * from person where id = #{id}
    </select>

</mapper>

